@model CoffeeStore.Models.DeliveryCostViewModel
@{
    ViewBag.Title = "SetDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = true;
}

<div class="container" style="margin-top:200px">

    <h2>Set Delivery Cost</h2>

    @using (Html.BeginForm("SetDelivery", "Account", FormMethod.Post))
    {

        <div class="form-group">
            @Html.LabelFor(model => model.Cost)
            @Html.TextBoxFor(model => model.Cost, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      
    }
</div>